extends layout

block js
  script(src='//code.jquery.com/jquery-1.11.0.min.js')
  script(src='/javascripts/home.js')

block content
  .splash
    .underlay
    .overlay
    header
      include nav
      .center
        h1 Find your center
        h3 Find your perfect yoga studio
        .searchBoxArea
          i.fa.fa-map-marker(style='font-size:20px')
          input.search(placeholder='Where are you?')