doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Rokkitt:400,700' media='all' rel='stylesheet' type='text/css')
  body
    block content
    block js