nav
  .left
    a(href='/')
      img.logo(src='/images/logo.svg')
  .right
    ul
      li
        a(href='/classes') Classes
      li
        a(href='/events') Events
      li
        a(href='/retreats') Retreats
      li
        a(href='/blog') Blog