extends layout

block js
  script(src='//code.jquery.com/jquery-1.11.0.min.js')
  script(src='/javascripts/home.js')

block content
  .splash
    .underlay
    .overlay
    header
      include nav
      include searchResults